# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.env

# Temporary files
*.tmp
*.log

# Streamlit
.streamlit/secrets.toml

# Large/raw datasets
data/*.csv
*.zip

# Python cache
.pytest_cache/

# Model backups
*.bak